body {
    margin : 0;
    height: 100%;  
    background-color : rgb(127 73 73 / 5%);
}

.header {
    display: flex;
    width : 100%;
    height : fit-content;
    background-color: white;
    justify-content: center;
}

.logoandtitle {
    display: flex;
    position: relative;
    right : 440px;
}

.twotitles {
    display: flex;
    flex-direction: column;
}

.emp-text {
    font : normal normal bold  18px/25px Montserrat;
    font-family: 'Montserrat', sans-serif;   
    color : #82a70c;
}

.emp-text-payroll {
    color: #42515f;
    font-family: 'Montserrat', sans-serif;
}

.formcontainer {
    display : flex;
    width : 60%;
    height : 80vh;
    position: relative;
    left : 100px;
    margin-left: 190px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top : 20px;
    flex-direction: column;
}

.formheading {
    align-self: center;
    color: #42515f;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    right : 330px;
}

.inputfield {
    align-self: center;
    display: flex;
    width : 80%;
    justify-content: space-around;
}

.inputlabel {
    width : 30%;
    font-family: 'Roboto', sans-serif;
    color :black;
    font-weight: 800;
}
.inputsource {
    width : 70%;
    height : 20px;
}

input[type=text]:focus {
    border: 3px solid #555;
}

#imageselector {
    margin: 48px;
}

#imgradio {
    display: flex;
}

.imageoption {
    width: 40px;
    height: 40px;
    position: relative;
    left: 30px;
}

#radioone {
    position: relative;
    top : 8px;
}

#radiotwo {
    position: relative;
    top: 8px;
    left: 50px;
}

#imagesecondchoice {
    position: relative;
    left : 80px;
}

#radiothree {
    position: relative;
    top : 8px;
    left : 110px;
}
#imagethirdchoice {
    position: relative;
    left : 130px;
}

#radiofemale {
    position: relative;
    left : 30px;
}

#male {
    position: relative;
    left : 50px;
}

#radiomale {
    position: relative;
    left: 60px;
}

#departmentselector {
    align-self: center;
    display: flex;
    width : 80%;
    justify-content: space-around;
}

#departmentlabel {
    width : 30%;
    font-family: 'Roboto', sans-serif;
    color :black;
    font-weight: 800;
    position: relative;
    top : 50px;
}

#departmentsource {
    width : 70%;
    height : 20px;
    position: relative;
    top: 50px;
}

#salaryselector {
    width : 30%;
    font-family: 'Roboto', sans-serif;
    color :black;
    font-weight: 800;
    position: relative;
    top : 90px;
    left : 99px;
}

#salarysource {
    width : 70%;
    height : 20px;
    position: relative;
    left : 230px;
    bottom : 10px;
}

#startdate {
    position: relative;
    top : 100px;
}

#startdatesource {
    position: relative;
    top: 100px;
}

.startdate {
    display: flex;
    justify-content: space-around;
}

#startdate {
    width : 30%;
    font-family: 'Roboto', sans-serif;
    color :black;
    font-weight: 800;
    position: relative;
    right : 20px;
}

.startdatepicker {
    position: relative;
    top : 95px;
    right: 330px;
}

#day {
    margin :  10px;
}

#month {
    margin-right: 10px;
}

.notes {
    display: flex;
    justify-content: space-around;
}

#notes {
    width : 30%;
    font-family: 'Roboto', sans-serif;
    color :black;
    font-weight: 800;
    position: relative;
    left : 60px;
    top : 130px;
}

#textarea {
    position: relative;
    height: 70px;
    top : 120px;
    right : 90px;
}

#submit {
    position: relative;
    top : 150px;
    padding: 10px;
    width : 120px;
}

#reset {
    position: relative;
    top : 150px;
    padding: 10px;
    width : 120px;

}

