body {
    margin : 0;
    height: 100%;  
    background-color : rgb(127 73 73 / 5%);
}

.header {
    display: flex;
    width : 100%;
    height : fit-content;
    background-color: white;
    justify-content: center;
}

.logoandtitle {
    display: flex;
    position: relative;
    right : 440px;
}

.twotitles {
    display: flex;
    flex-direction: column;
}

.emp-text {
    font : normal normal bold  18px/25px Montserrat;
    font-family: 'Montserrat', sans-serif;   
    color : #82a70c;
}

.emp-text-payroll {
    color: #42515f;
    font-family: 'Montserrat', sans-serif;
}

.formcontainer {
    display : flex;
    width : 60%;
    height : 80vh;
    position: relative;
    left : 100px;
    margin-left: 190px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top : 20px;
    flex-direction: column;
}

.formheading {
    align-self: center;
    color: #42515f;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    right : 330px;
}

.inputfield {
    align-self: center;
    display: flex;
    width : 80%;
    justify-content: space-around;
}

.inputlabel {
    width : 30%;
    font-family: 'Roboto', sans-serif;
    color :black;
    font-weight: 800;
}
.inputsource {
    width : 70%;
    height : 20px;
}

input[type=text]:focus {
    border: 3px solid #555;
}

#imageselector {
    margin: 48px;
}

#imgradio {
    display: flex;
}

.imageoption {
    width: 40px;
    height: 40px;
    position: relative;
    left: 30px;
}

#radioone {
    position: relative;
    top : 8px;
}

#radiotwo {
    position: relative;
    top: 8px;
    left: 50px;
}

#imagesecondchoice {
    position: relative;
    left : 80px;
}

#radiothree {
    position: relative;
    top : 8px;
    left : 110px;
}
#imagethirdchoice {
    position: relative;
    left : 130px;
}


